body {
    background-color: rgb(243, 226, 229);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}
.carousel {
    overflow: hidden;
    width: 600px;
}
.wrap {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 250px;
    justify-items: stretch;
    animation: slide 60s linear infinite;
}
.wrap img {
    width: 200px;
    height: 200px;
    background-repeat: 15px;
    object-fit: cover;
}
@keyframes slide {
    to {
        translate: calc(-4 * 250px);
    }
}